@font-face {
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
  }

  @font-face {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
  }
  @font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
  }
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway-Medium, sans-serif;
}

body {
    background-color: #d0c8f5;
}

.container.main {
   display: flex;
   background-color: #fff;
   
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
   margin: auto;
   margin-top: 150px;
   border-radius: 25px;


}

.form{
    padding: 30px 80px;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
   
}

.form{

    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.form h2 {
    font-size: 45px;
    color: #FF002F;
    font-family: Raleway-Bold, sans-serif;
    margin-bottom: 25px; 

}
.form p {font-size: 16px;
color: #050608;
margin-bottom: 25px;

}
label{font-size: 15px;
    color: #050608;
    margin-bottom: 15px;}

    .box {
        border: 0;
        background-color: #F4F4FD;
        padding: 15px;
        border-radius: 25px;
        margin-bottom: 15px;
        outline: none;
    }
    .submit{
        background-color: #FF002F;
        border: 0;
        padding: 15px;
        color:#fff;
        font-size: 16px;
        border-radius: 25px;
        width: 250px;
        margin-top: 25px;
        box-shadow: 0 0 20px rgba(201, 199, 253, 0.5)
    }
    .submit:hover, .submit:focus {
        cursor: pointer;
    }
    .info{
        padding: 50px;
    
    }
    .imagen-3{
        width: 350px;
        padding: 75px;
    }
    .location{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
 }
    .icons {
        display: flex;
        margin-bottom: 31px;
    }
    .icons img {
        width: 40px;
        margin-right: 10px;
    }
     .icons p {
        font-size: 14px;
        color: #050608;
     }
    
     .social-media{
        display: flex;
        justify-content: space-between;
     }
     .error{
     border: 1px solid #ff0000;
     }
    
