@font cara {
    font-family: Raleway-Medium;
    src: url(fonts/Raleway-Medium.ttf);
  }

  @font cara {
    font-family: Raleway-Regular;
    src: url(fonts/Raleway-Regular.ttf);
  }
  @font cara {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway-Bold.ttf);
  }
* {

    margen: 0;
    relleno: 0;
    tamaño de caja: border-box;
    font-family: Raleway-Medium, sans-serif;
}

cuerpo {
    color de fondo: #D0C8F5;
}

. contenedor. principal {
   Pantalla: Flex;
   background-color: #fff;
   
   Sombra de caja: 0 0 20px rgba(0, 0,   0, 0.4 );
   margen: automático;
   Margin-top: 150px;
   Radio de borde: 25px;


}

. forma{
    relleno: 30 px 80 px;
    margen: automático;
    Margin-top: 150px;
    Radio de borde: 25px;
   
}

. forma{

    relleno: 30 px 80 px;
    Ancho: 100%;
    Pantalla: Flex;
    dirección flexible: columna;
   
}
. Formulario H2 {
    tamaño de fuente: 45px;
    color: #FF002F;
    font-family: Raleway-Bold, sans-serif;
    Margen inferior: 25px; 

}
. Form P {font-size: 16px;
Color: #050608;
margin-bottom: 25px;

}
label{font-size: 15px;
    color: #050608;
    margin-bottom: 15px;}

    .box {
        border: 0;
        background-color: #F4F4FD;
        padding: 15px;
        border-radius: 25px;
        margin-bottom: 15px;
        outline: none;
    }
    .submit{
        background-color: #FF002F;
        border: 0;
        padding: 15px;
        color:#fff;
        font-size: 16px;
        border-radius: 25px;
        width: 250px;
        margin-top: 25px;
        box-shadow: 0 0 20px rgba(201, 199, 253, 0.5)
    }
    .submit:hover, .submit:focus {
        cursor: pointer;
    }
    .info{
        padding: 50px;
    
    }
    .imagen-3{
        width: 350px;
        padding: 75px;
    }
    .location{
        display: flex;
        flex-direction: column;
        Margen inferior: 30px;
 }
 . Iconos {
        Pantalla: Flex;
        Margen inferior: 31px;
    }
 . iconos img {
        Anchura: 40px;
        Margen derecho: 10px;
    }
 . iconos p {
        tamaño de fuente: 14px;
        Color: #050608;
     }
    
 . Redes sociales{
        Pantalla: Flex;
        justificar-contenido: espacio-entre;
     }
 . error{
     Borde: 1px sólido #ff0000;
     }
    
Pie de página
© 2023 GitHub, Inc.
Navegación de pie de página
Letra chica
Privacidad
Seguridad
Estado
Docs
Póngase en contacto con GitHub
Precios
API
Adiestramiento
Blog
Acerca de
